.about_body {
    margin: 10px 80px;
    padding: 80px 0px 0px 0px;
}

.component_title {
    font-weight: var(--weight-semibold);
    font-size: var(--h2-text);
    line-height: 36px;
}

.component_desc {
    font-weight: var(--weight-regular);
    font-size: var(--text-regular);
}

.aboutus_section {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
}

.vision_mission_section {
    margin: 50px 0px;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;

}

.component_heading_bar {
    background-color: var(--primary-color);
    height: 4px;
    width: 100px;
    margin-bottom: 20px;
}

.about_image {
    height: 400px;
    width: 400px;
    position: relative;
    background: linear-gradient(135deg, var(--primary-color) 5.66%, var(--white-color) 54.9%);
}

.about_image img {  
    height: 400px;
    width: 400px;
}