.home_body{
    height: 100%;
    
    position: relative;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.home_txt{
    position: absolute;
    text-align: center;

}
video {
    width: 99.99%;
}
 
.home_headline{
    font-size: var(--h1-text);
    font-weight: var(--weight-semibold);
    color: var(--white-color);
    text-shadow: 0px 0px 5px black;
}
.btn_know_more :hover{
    background-color: var(--primary-color);
}
.btn_know_more a:hover{
    color: var(--white-color);
    border-color:var(--primary-color) ;
    transform: scale(1.1,1.1);
}
.btn_know_more {
    margin: 30px 0px;
}
.btn_know_more a{
    color: var(--white-color);
    text-decoration: none;
    font-size: var(--text-regular);
    font-weight: var(--weight-medium);
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    padding: 5px 10px;
    
}

.home_down_arr a:hover{
    color: var(--primary-color);
}
.home_down_arr a{
    position: absolute;
    bottom: 20px;
    font-size: 20px;
    color: var(--white-color);
}
