.product_navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0px;
}
.pro_nav_item a:hover{
    color: var(--primary-color);
}
.pro_nav_item a{
    text-decoration: none;
    padding: 0px 20px;
    font-size: var(--text-regular);
    color: #ACA9A9;   
}
